@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500;600;700&family=Libre+Franklin:wght@500;600;700&family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root{
    --negro: rgb(29, 36, 45);
    --grisInput: rgb(249, 251, 252);
    --grisFooter: rgb(234, 238, 242);
    --grisIcon: rgb(242, 243, 247);
    --grisPlace: rgb(161, 168, 175);
    --grisOscuro: rgb(66, 75, 86);
}

html{
    scroll-behavior: smooth;
}

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--negro);
    font-weight: 500;
    /* font-family: 'Heebo', sans-serif; */
    /* font-family: 'Libre Franklin', sans-serif; */
}

/* ---------------------------------------- */

.signUp{
    display: flex;
    background-color: var(--negro);
    padding: 0.8rem 18vw;
    justify-content: space-between;
    align-items: center;
}

.signUp *{
   color: white;
   font-size: 0.8rem;
}

.signUp span{
    font-weight: 600;
}

.signUp a{
    font-weight: 500;
    text-decoration: underline;
}

.signUp i{
    cursor: pointer;
}
.signUp p{
    margin-bottom: 0rem;
}

/* ---------------HEADER Y NAVBAR------------------------- */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 18vw;
}

.header nav{
    display: flex;
    gap: 35px;
    color: var(--negro);
}
.header a:hover{
    color: var(--negro);
}
.header a{
    text-decoration: none;
    color: var(--negro);
}

.header h2{
    margin-bottom: 0rem;
    font-size: 1.6rem;
}

.navDer{
    display: flex;
    align-items: center;
    gap: 20px;
}

.divInput{
    background-color: var(--grisInput);
    border: var(--grisIcon) 2px solid;
    border-radius: 10px;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.inputSearch{
    background-color: var(--grisInput);
    color: var(--grisPlace);
    border: 0;
    padding: 12px;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    width: 100%;
}

.inputSearch::placeholder{
    color: var(--grisPlace);
}

.iconSearch{
    color: var(--grisPlace);
}

.navDer > i{
    color: var(--negro);
    font-size: 1.3rem;
    cursor: pointer;
}











/* ----------------HERO------------------------ */


.ubicacion{
    display: flex;
    justify-content: space-evenly;
    color: var(--grisPlace);
}

.ubicacion i{
    color: var(--grisPlace);
}

.weight{
    font-weight: 600;
    font-size: 2.6rem;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
    

}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.small-img{
    border-radius: 10px;
    overflow: hidden;
    perspective: 1px;
    max-height: 87%;
}
/*
#contenedorFotos{
    height: 95%;
}
*//* por si quieren que el tamaño no este achicado*/

#MainImg{
    border-radius: 10px;
    overflow: hidden;
    perspective: 1px;
    max-height: 55%;
    
}
#rating{
    display: flex;
    
    
}
#rating p{
    margin-left: 5px;
    color: var(--grisOscuro);
}
.checked{
    color: gold;
    margin-right: 4px;
}


.line {
    border-bottom: 1.4px solid black; /* Adjust the color, width, and style as desired */
    opacity: 0.1;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  

.size h4{
    font-size: 1.19rem;
    color: var(--grisOscuro);
}



.addToCart span{
    color: var(--grisOscuro);
}


.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.7rem; /* Adjust the width as needed */
    height: 4.05rem; /* Adjust the height as needed */
    border: 1.4px solid rgb(227, 230, 234);
    border-radius: 8px;
    margin-right: 1.5rem;
  }
  
  .counter-value {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
  }
  
  .counter button {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    border: none;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
  }
  
  .minus-btn {
    border-radius: 4px 0 0 4px;
  }
  
  .plus-btn {
    border-radius: 0 4px 4px 0;
  }
  



.buy-btn{
    font-weight: 400;
    background-color: var(--negro);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    border: 0;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
    height: 4rem;
}




/*---------------Los detalles---------------------*/

.losDetalles{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.tituloDetalles{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}
.line2 {
    position: relative;
    height: 1.7px; /* Adjust the height of the line as desired */
    background-color: black; /* Set the color for the side parts */
  }
  
  .line2:before,
  .line2:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
  }
  
  .line2:before {
    left: 0;
    width: 30%; /* Adjust the width of the left grey part */
    background-color: #d5d3d3; /* Set the color for the left grey part */
  }
  
  .line2:after {
    right: 0;
    width: 30%; /* Adjust the width of the right grey part */
    background-color: #d5d3d3; /* Set the color for the right grey part */
  }
  
  .line2 span {
    display: block;
    position: absolute;
    top: 0;
    left: 30%; /* Adjust the left position of the middle black part */
    width: 40%; /* Adjust the width of the middle black part */
    height: 100%;
    background-color: #000; /* Set the color for the middle black part */
  }
  
  





/*--------------Productos relacionados------------*/
.productosRelacionados{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.titleProducts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
}

.titleProducts h2{
    font-size: 2rem;
    font-weight: 600;
}

.divProducts{
    display: flex;
    
    gap: 25px;
    max-width: fit-content;
}

.cardProduct{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.cardProduct h3{
    font-size: 1.4rem;
}

.cardProduct img{
    width: 100%;
    border-radius: 10px;
    max-height: 70%;
    object-fit: cover;
    object-position: left;
}

.cardFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardFooter div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardFooter i{
    color: white;
    font-size: 1.6rem;
    padding: 0.8rem 1rem;
    background-color: var(--negro);
    border-radius: 10px;
    cursor: pointer;
    width: 3.8rem;
    
    
}

.price{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--negro);
}

.botonesHero{
    display: flex;
    align-self: flex-end;
}

.botonesHero button{
    padding: 0.9rem;
    background-color: white;
    border: var(--grisIcon) 1px solid;
    cursor: pointer;
}

.btnIzq{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btnDer{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.botonesHero i{
    font-size: 1.3rem;
    color: var(--negro);
}








/* -----------------FOOTER----------------------- */

footer{
    margin-top: 80px;
    background-color: var(--grisFooter);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divFooter{
    width: 65%;
    display: flex;
    padding: 3rem 0;
    border-bottom: 1px solid var(--grisPlace);
}

.nostraFooter{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 40%;
}

.nostraFooter p{
    color: var(--grisPlace);
    max-width: 70%;
    line-height: 1.5rem;
}

.nostraFooter h2{
    color: var(--grisOscuro);
    font-weight: 700;
    font-size: 2rem;
}

.footerCard{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    width: 15%;
}

.footerCard h3{
    color: var(--grisOscuro);
    font-weight: 600;
    font-size: 1.1rem;
}

.footerCard a{
    text-decoration: none;
    color: var(--grisPlace);
}

.cardPagos{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 15%;
}

.cardPagos h3{
    color: var(--grisOscuro);
    font-weight: 600;
    font-size: 1.1rem;
    text-align: end;
}

.divPagos{
    display: flex;
    justify-content: space-around;
}

.divPagos img{
    width: 45px;
    cursor: pointer;
    object-fit: contain;
}

.copyright{
    color: var(--grisPlace);
    padding: 2rem 0;
}

/* ---------------------------------------- */


/* -----------------MEDIA QUERYS----------------------- */
@media screen and (max-width: 1200px){
    #contenedorFotos{
        height: 80%;
    }
    .header{
        padding: 2.5rem 10vw;
    }
    .signUp{
        padding: 0.8rem 10vw;
    }
    .divFooter{
        width: 80%;
    }
    .nostraFooter{
        width: 50%;
    }
    .footerCard{
        width: 35%;
        
    }
    .cardPagos{
        width: 20%;
    }
}

@media(max-width: 1024px){
    #contenedorFotos{
        height: 80%;
    }
}